# URL da API do Backend
# O Vite usará http://localhost:3333 nativamente se esta variável não for configurada.
# Em Produção, altere para a URL onde seu Node.js está hospedado.
VITE_API_URL="http://localhost:3333"
