# Configurações do Banco de Dados (MongoDB)
# Substitua a string abaixo pela URI do seu cluster em Produção
DATABASE_URL="mongodb://localhost:27017/athenas"

# Chave Secreta para Geração de Tokens JWT
JWT_SECRET="SUBSTITUA_POR_UMA_CHAVE_ALEATORIA_FORTE"

# Credenciais de Bootstrap (Primeiro Administrador)
ADMIN_EMAIL="INFORME_O_EMAIL_DO_ADMINISTRADOR_INICIAL"
ADMIN_PASSWORD="INFORME_UMA_SENHA_COM_NO_MINIMO_10_CARACTERES"
# Porta do Servidor Node.js (Opcional, padrão é 3333 se vazio)
PORT=3333

# (Opcional) URL Externa do Sistema para Keep-Alive Automático
# RENDER_EXTERNAL_URL="https://seu-sistema-no-render.com"
